/* Footer Styles */
  
footer {
    font-family: $oswald;
    border-top: 1px solid $border-grey;
  }
  
  .footer-widgets {
    padding: $l-size 0;
    display: flex;
    max-width: $container;
    margin: 0 auto;
    flex-wrap: nowrap;
    justify-content: space-between;
    .contact-info {
      display: flex;
      align-items: center;
    }
  }
  

  .footer-logo {
    max-width: 240px;
    display: flex;
    align-items: center;
  }
  
  .copyright {
    border-top: 1px solid $border-grey;
    text-align: center;
    color: #885345;
    padding: addition(5px, 7px);

    button{
      font-size: 14px;
      padding: 1%;
      @include border-radius(10px);
      overflow: hidden;

      &:hover {
        background-color: lighten(blue, 25%);
      }
    }
  }